@charset "UTF-8";

@font-face {
  font-family: "streamline-30px-filled-in";
  src:url("/assets/fonts/streamline-30px-filled-in.eot");
  src:url("/assets/fonts/streamline-30px-filled-in.eot?#iefix") format("embedded-opentype"),
      url("/assets/fonts/streamline-30px-filled-in.woff") format("woff"),
      url("/assets/fonts/streamline-30px-filled-in.ttf") format("truetype"),
      url("/assets/fonts/streamline-30px-filled-in.svg#streamline-30px-filled-in") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "streamline-30px-filled-in" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "streamline-30px-filled-in" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-binocular:before {
  content: "c";
}
